
.navBar {
    background: scroll;
    width: 99%;
    height: 70px;
    border: solid;
    background-size: 10px;
    background-color: rgb(74, 73, 73);
    position: fixed;
    top: 0;
}

body {
    background-color: rgb(6, 99, 131);
    position: relative;
}
.name {
    font-size: xx-large;
    color: white;
}
.center {
    background-color: blue;
    width: 60%;
    margin-left: 20%;
    margin-top: 70px;
    border: solid black;
    margin-bottom: 70px;
}
.paragraph1 {
    width: 30%;
    padding-left: 10%;
    margin-bottom: 50px;
    font-size: large;
    margin-left: 20%;
    color: white;
}
.pic {
    padding-left: 10px;
    margin-top: 10%;
    width: 100%;
}
footer {
    text-align: center;
    background-color: rgb(74, 73, 73);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
.yahoo {
    padding-right: 50px;
}
.quote {
    width: 60%;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 200px;
}
#main {
    margin-bottom: 350px;
}
.first {
    background-color: white;
    width: 70%;
    margin-left: 15%;
}
.second {
    background-color: white;
    width: 70%;
    margin-left: 15%;
}
.third {
    background-color: white;
    width: 70%;
    margin-left: 15%;
}